<li>
	{{burger_name}}
	{{#if eaten}}
	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">DEVOUR IT!</button>
		<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	{{else}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	{{/if}}
</li>
